/* 全局颜色变量 */
:root {
  --text1: #121826;
  --text2: #3C3E42;
  --text3: #848484;
  --text4: #979797;
  --text5: #C3C3C5;
  --text6: #6F6F6F;
  --text-green: #2CB5A5;
}

body {
  padding-bottom: 70.0001px;
}

.home-header {
  height: 130.0001px;
  position: relative;
  /* background-color: var(--text-green); */
  padding: 30px 15px 0;
  margin-bottom: 2.6667vw;
}

.home-header h1 {
  position: relative;
  font-size: 24px;
  font-weight: 400;
  color: #fff;
}

.home-header .search {
  position: absolute;
  /* 减去内边距 */
  width: calc(100% - 30px);
  bottom: 0;
  font-size: 13.0001px;
  line-height: 40.0001px;
  height: 40.0001px;
  color: var(--text4);
  background-color: #fff;
  border-radius: 22.0001px;
  box-shadow: 0 0 10.0001px rgba(0, 0, 0, 0.2);
}

.home-header .search img {
  margin-left: 21.4001px;
  margin-right: 2.4px;
  width: 14.1799px;
  height: 14.1799px;
  vertical-align: middle;
}


.home-header::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 109.9999px;
  background: linear-gradient(180deg, #3ECEC5D8 0%, #26BCC6 100%);
  border-bottom-left-radius: 139.9999px 19.9999px;
  border-bottom-right-radius: 139.9999px 19.9999px;
}

.home-nav {
  padding: 0 15px;
}

.home-nav .row {
  display: flex;
  text-align: center;
}

.home-nav .row li {
  flex: 1;
  width: 115.0001px;
  height: 109.9999px;
  margin: 4.9999px 0;
}

.home-nav .row2 li {
  flex: 1;
  width: 52.0001px;
  height: 55.0001px;
  margin: 4.9999px 0;
}


.home-nav .row li img {
  width: 46.0001px;
  height: 46.0001px;
}

.home-nav .row li h3 {
  font-size: 13.9999px;
  font-weight: 500;
  color: var(--text1);
  margin: 1.9999px 0;
}

.home-nav .row li p {
  font-size: 10.9999px;
  color: var(--text3);
}

.home-nav .row2 li img {
  width: 31.0001px;
  height: 31.0001px;
}

.home-nav .row2 li p {
  color: var(--text2);
  font-size: 13.0001px;
}

.home-banner {
  height: 32vw;
  padding: 2.6667vw 4vw;
  border-radius: 5.3333vw;
  overflow: hidden;
}

.home-banner img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  border-radius: 5.3333vw;
}

.home-tabs .tabs-content {
  padding: 0 15px;
}

.home-tabs .tabs-switch {
  /* 粘性定位固定导航 */
  top: 0;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 999;
  position: sticky;
  height: 43.9999px;
  line-height: 43.9999px;
  backdrop-filter: blur(.8vw);
}

.home-tabs .tabs-switch ul {
  display: flex;
}

.home-tabs .tabs-switch ul li {
  padding: 0 13.0001px;
  /* padding-right: 25.0001px; */
  color: var(--text4);
  font-size: 13.9999px;
}

.home-tabs .tabs-switch ul li.active {
  color: var(--text1);
  font-weight: 600;
}

.home-tabs .tabs-switch .line {
  position: absolute;
  bottom: 0;
  left: calc(16.0001px + 54px);
  width: 19.9999px;
  height: 1.9999px;
  background-color: var(--text-green);
  transition: all .3s ease-in-out;
}

.home-tabs .tabs-content .con-item {
  padding: 19.9999px 0 15px;
  border-bottom: 1.0001px solid var(--text5);
}

.home-tabs .tabs-content .con-item .it-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 40.0001px;
}

.home-tabs .tabs-content .con-item .it-header .avatar {
  width: 40.0001px;
  height: 40.0001px;
  border-radius: 50%;
}

.home-tabs .tabs-content .con-item .it-header .avatar img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-tabs .tabs-content .con-item .it-header button {
  width: 66px;
  height: 27px;
  font-size: 10.9999px;
  border-radius: 13.5px;
  background: transparent;
  color: var(--text-green);
  border: 1.0001px solid var(--text-green);
}

.home-tabs .tabs-content .con-item .it-header .info {
  padding-left: 4.9999px;
  flex: 1;
}

.home-tabs .tabs-content .con-item .it-header .info .name {
  font-size: 13.9999px;
  color: var(--text2);
  margin-bottom: 4.0001px;
}

.home-tabs .tabs-content .con-item .it-header .info .desc {
  font-size: 12px;
  color: var(--text5);
}

.home-tabs .tabs-content .con-item .it-body .title {
  font-size: 16.0001px;
  color: var(--text1);
  font-weight: 550;
  padding: 7.0001px 0;
}

.home-tabs .tabs-content .con-item .it-body .tags {
  display: inline-block;
  color: var(--text-green);
  font-size: 12px;
  margin: 6.4999px 0;
}

.home-tabs .tabs-content .con-item .it-body .info {
  font-size: 13.9999px;
  color: var(--text6);
  /* 超出部分省略号 */
  display: -webkit-box;
  /* 2行 */
  line-clamp: 2;
  -webkit-box-orient: vertical;
  overflow: hidden;
}

.home-tabs .tabs-content .con-item .it-body .imgs {
  display: flex;
  justify-content: space-between;
  margin: 6px 0 10.0001px;
}

.home-tabs .tabs-content .con-item .it-body .imgs figure {
  margin: 0;
  width: 106.0001px;
  height: 106.0001px;
  border-radius: 15px;
  overflow: hidden;
}

.home-tabs .tabs-content .con-item .it-body .imgs figure img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.home-tabs .tabs-content .con-item .it-body p span {
  font-size: 12px;
  color: var(--text5);
}

.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 18.6667vw;
  background-color: #fff;
  backdrop-filter: blur(.8vw);
  z-index: 999;
}

.footer ul {
  display: flex;
  height: 13.6vw;
  gap: .5333vw;
  justify-content: space-between;
  padding-top: 2.6667vw;
}

.footer ul li {
  flex: 1;
  text-align: center;
  /* height: 13.6vw; */
  /* background-color: aqua; */
}

.footer ul li img {
  width: 4.5333vw;
  height: 4.8vw;
}

.footer ul li p {
  font-size: 2.6667vw;
  color: var(--text6);
}